/* this is all the css for TOP */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
    font-family: 'Public Sans', sans-serif;
    color: aliceblue;    
} */
/* body {
    background: linear-gradient(-45deg,
        #7F8C8D 0%, #000000 100%);
        background-size: 600% 600%;
        animation: gradient 30s ease infinite;
        
} */

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */



.Headshot{
    
    display: flex;
    flex-flow: row;
}

.myface{
    width: 20%;
    margin:auto 10%;
    border-radius: 20%;
}



.myname{
    align-items: center;
    display: flex;
    font-size: 500%;
    font-style: bold;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg, #EEA474 0%,#92CFDD 29%,#E4B08B 64%,#A5AEB9 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: textclip 10s linear infinite;
        inline-size: auto;
        width: 200%;
        z-index: 2;
        margin: 10%;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
    
.background {
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.paragraph{
    align-self: left;
    text-indent: 5%;
    margin-left: 40%;
    font-size: large;
    width: 50%;
    padding: 40px;
}

/*middle section css */

.Middle-section {
    font-size: large;
}
.projects{   
    align-items: center;
    display: flex;
    font-size:  500%;
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg, #EEA474 0%,#92CFDD 29%,#E4B08B 64%,#A5AEB9 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
        animation: textclip 10s linear infinite;
        inline-size: auto;
        width: 50%;
        z-index: 2;
        margin-left: 10%;
        
}
.GardenC {
    width: 100%;

}

.Steps {
    size: 100%;
    margin: 10%;
}


.project {
    width: 100%;
    
}



/* .carousel-button:hover,
.carousel-button:focus{
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus{
    outline: 1px solid black
} */
/* .carousel-button.prev{
    left: -4rem;
}
.carousel-button.next{
    right: -4rem;
} */

/* .carousel {
    width: 100%;
    position: relative;
} */

.description {
    margin: 5%;
    font-size: larger;
}

.Jproject {
    width: 35%;
    border-radius: 3%;
    margin-left: 30%;
}

/* /Header */

.header-container {
    text-align: center;
}

a :hover{
    color:#92CFDD
}

.dXOYdB {
    width: 5%;
}
svg {
    color:#EEA474
}
